body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px; /* Adjust for fixed nav */
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    background-color: #6200ea;
    color: white;
    padding: 20px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

.login-container input {
    width: calc(100% - 30px);
    margin: 0 auto 15px;
    padding: 10px;
    border: 1px solid #ddd; /* Set border color */
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); /* Set background color */
    color: black; /* Set text color */
}

.login-container input::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Set placeholder text color */
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 100px; /* Add space between checkbox and text */
    width: 18px;
    height: 18px;
    margin: 0;
    vertical-align: middle;
}

.remember-me label {
    display: flex;
    align-items: center;
    line-height: 1;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.links {
    margin-top: 15px;
}

.links a {
    color: #ff9800;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 0;
}

.links a:hover {
    text-decoration: underline;
}